:root {
    --clr-background: rgb(20, 20, 20);

    --inset-s: 8px;
}

/* Global Overrides */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-background);
}

/* Utilities */

.px-s {
    padding-left: var(--inset-s);
    padding-right: var(--inset-s);
}
