:root {
    --clr-background: rgb(20, 20, 20);
    --clr-on-background: white;
    --clr-on-background-variant: grey;

    --inset-s: 8px;
    --inset-m: 16px;
}

/* Global Overrides */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* --------- */
/* Utilities */
/* --------- */

/* color utils */

.bg-black {
    background-color: black;
}

.text-on-background {
    color: var(--clr-on-background);
}

.text-on-background-variant {
    color: var(--clr-on-background-variant);
}

/* spacing utils */

.p-s {
    padding: var(--inset-s);
}

.pt-s {
    padding: var(--inset-s);
}

.px-s {
    padding-left: var(--inset-s);
    padding-right: var(--inset-s);
}

.py-m {
    padding-top: var(--inset-m);
    padding-bottom: var(--inset-m);
}

/* radius utils */

.rounded-xs {
    border-radius: 5px;
}

/* text utils */

.text-center {
    text-align: center;
}

/* other utils */

.overflow-hidden {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.w-100 {
    width: 100%;
}
