.video-tile {
    width: 200px;
    height: 250px;
    border: 1px solid grey;
}

.border-selected {
    border-color: rgb(0, 81, 255);
    border-width: 2px;
}

.bg-overlay {
    background-color: #70707088;
}

.bg-placeholder {
    background-color: rgb(39, 39, 39);
}
